/** Colors
======================================================================== */
$brand-color: #f29100; /* Brand - Ruten logo and header */
$primary-color: #00b3ff; /* primary - Main actions - form elements, switch, button */
$secondary-color: #3679e1; /* secondary - Ruten IM */
$tertiary-color: #ff5d0e; /* Tertiary - Price */
$warning-color: #fcb300; /* Warning - Color for warning status */
$success-color: #00ba5a; /* Success - Color for success status */
$important-color: #f24013; /* Important - Color for importnat(error) status */

/* Gray */
$ink: #1d1d1d; /* Gray 01 - title, subtitle, heading, input text */
$gray-darkest: #444444; /* Gray 02 - primary text, content, tooltip default background */
$gray-darker: #6e6e6e; /* Gray 03 - secondary text (屬於內文層級內), outlined / text Button */
$gray-dark: #8d8d8d; /* Gray 04 - note text */
$gray: #a4a4a4; /* Gray 05 - placeholder, text disabled */
$gray-light: #c3c3c3; /* Gray 06 - border (buttons, text input) */
$gray-lighter: #e0e0e0; /* Gray 07 - divider */
$gray-lightest: #efefef; /* Gray 08 - PC main background and disabled background, light background */
$white: #ffffff; /* Body background */

$font-size-tiny: 12px;
$font-size-small: 13px;
$font-size-regular: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-x-large: 24px;
$font-size-massive: 36px;
